$primary: #EB1414;
$txt_color: #1A1918;
$transparent_Black: rgba(0,0,0,0.7);
$ligth_txt: #6D6D6D;
$transparent_White:rgba(255,255,255,0.7);
$boxShadow:rgba(235,20,20,.2);
$boxShadowHover:rgba(235,20,20,.4);
$light-color: #C0C7CB;
$bg_color: #f5f6f6;

